/* main {
  background-color: aquamarine;
} */

/* aside {
  background-color: blanchedalmond;
} */

/* header {
  background-color: cornflowerblue;
} */

.App {
  display: flex;
  min-width: 100vh;
  min-height: 100vh;
}

.pallete {
  background-color: #293a49;
  background-color: #3d6373;
  background-color: #b1d4dd;
  background-color: #fafaff;
  background-color: #ff4f00;
}